<h1>Bonjour, merci de confirmer votre email !</h1>

<p>
    Confirmez votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
