{% extends 'base.html.twig' %}

{% block title %}Supprimer un trick{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Supprimer un Trick</h1>

    <p>Êtes-vous sûr de vouloir supprimer ce trick "{{ trick.name }}" ?</p>

    

    <a href="{{ path('app_tricks') }}" class="btn btn-secondary">Annuler</a>

    <button type="submit" class="btn btn-primary">Supprimer le trick</button>
    
{% endblock %}